.gallery img{
    width: 100%;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 30px;
    color: cornflowerblue;
    font-style: italic;
}

h4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: cornflowerblue;
    font-style: italic;
}
p{font-family: Arial, Helvetica, sans-serif;}

.navbar{
    background-color: #a4133c;
}
.navbar a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 800;
}
.thor{
    margin-top: 80px;
}
body {
    margin: 0;
    padding: 0;
  }
 
  .navbar-nav .nav-link:hover,
  .navbar-brand:hover {
    color: #ff758f !important;
  }
  .dropdown-menu{
    background-color: #a4133c !important;
  }
  .dropdown-menu a:hover {
    color: #ff758f !important;
  }